[Unit]
Description=starts the kubernetes kubelet
After=docker.service
After=sethostname.service
After=mnt-shared.mount

[Service]
ExecStartPre=/usr/bin/timeout 3 docker version
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
Environment=KUBELET_IMAGE_TAG=v1.15.3
Environment=KUBELET_IMAGE_URL=docker://gcr.io/google-containers/hyperkube-amd64
Environment=RKT_GLOBAL_ARGS="--insecure-options=image"
Environment="RKT_RUN_ARGS=--volume=resolv,kind=host,source=/etc/resolv.conf --mount volume=resolv,target=/etc/resolv.conf --volume run,kind=host,source=/run --mount volume=run,target=/run "
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/kubelet-cert.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/kubelet-key.pem \
  --cluster-dns=10.32.0.10 \
  --cloud-provider=aws \
  --register-node
ExecStop=/opt/bin/stop-kubelet

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
