[Unit]
Description=starts the kubernetes kubelet
After=docker.service
After=sethostname.service
After=mnt-shared.mount

[Service]
ExecStartPre=/usr/bin/timeout 3 docker version
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
Environment=KUBELET_VERSION=v1.10.5_coreos.0
Environment="RKT_OPTS=--volume=resolv,kind=host,source=/etc/resolv.conf --mount volume=resolv,target=/etc/resolv.conf --volume run,kind=host,source=/run --mount volume=run,target=/run "
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --allow-privileged=true \
  --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/kubelet-cert.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/kubelet-key.pem \
  --cluster-dns=10.32.0.10 \
  --cloud-provider=aws \
  --register-node
ExecStop=/opt/bin/stop-kubelet

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
