[Unit]
Description=Set the host name from metadata service
Requires=coreos-metadata.service
After=coreos-metadata.service

[Service]
EnvironmentFile=/run/metadata/coreos
ExecStart=/usr/bin/hostnamectl set-hostname ${COREOS_EC2_HOSTNAME}
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target

